body {
  background-color: aliceblue;
}

.nav1 {
  color: black;
  background-color: lightyellow;
  display: inline-block;
  padding-right: 2em;
  list-style: none;
}

.navbar {
  text-align: center;
  font-family: fantasy;
  font-size: small;
}

h1 {
  color: black;
}

h3 {
  color: #66BFBF;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: lightgrey;
  width: 5%;
}

img {
  height: 250px;
}
